<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type=text/javascript src="static/exampleView.js"></script>
    <script type=text/javascript src="static/index-controller.js"></script>

    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <title>A d3 view example</title>
</head>
<body>


<button id="show" >Fique feliz</button>
<button id="hide" >Cansei de felicidade</button>

<img class="hidden" src="static/legal.gif" alt="legal demais">

</body>
</html>