<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.15/d3.js"></script>

    <script type=text/javascript src="static/js/packages.js"></script>
    <script type=text/javascript src="static/js/bundle.js"></script>

    <script type=text/javascript src="static/js/index-controller.js"></script>


    <link type="text/css" rel="stylesheet" href="static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="static/css/bundle.css" />
    <title>A d3 view example</title>
</head>
<body>
    <h2>
      Flare imports<br>
      hierarchical edge bundling
    </h2>
    <div class="tension">tension:
    <input class="range-input" type="range" min="0" max="100" value="85"></div>


</body>
</html>